In [1]:
import pandas as pd

In [3]:
liste = [1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [17]:
df=pd.DataFrame( liste,columns= ["veriler"])
df

  veriler
0       1
1       2
2       3
3       a
4       b
5       c

In [9]:
import numpy as np

In [23]:
#verilleri datafram olarak goster
df1=pd.DataFrame(veriler,index= ["satır1","satır2","satır3"], columns= [ "sütun1","sütun2","sütun3" ])
df1

        sütun1  sütun2  sütun3
satır1      64      28      73
satır2      51      17       2
satır3      80      21      69

In [11]:
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[64, 28, 73],
       [51, 17,  2],
       [80, 21, 69]])

veriler=[["rabiya","aydın",16,], ["hüseyin" , "çiçek",25 ]]
veriler

In [30]:
df2=pd.DataFrame(veriler,index=["goremci_1","ogretmen_2", ],columns=["ad","soyad","yasa"])
df2

                 ad  soyad  yasa
goremci_1    rabiya  aydın    16
ogretmen_2  hüseyin  çiçek    25

In [31]:
df.axes #datafram"im satır ve süntun bilgileri

[RangeIndex(start=0, stop=6, step=1), Index(['veriler'], dtype='object')]